/* * {
    border: 1px dashed red;
} */

html,.
body {
  margin: 0;
  padding: 0;
}


h1 {
    color: #025f6f;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #1a0a74;
    font-size: 1.8em;
    text-align: center;
}

h3 {
    color: #222522;
    font-size: 1.7em;
    text-align: center;
    }

p {
    color: #222522;
    font-size: 1.5em;
    text-align: center;
}
.allignleft {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: left;
    font-style: italic;
}

.allignright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align:right;
    font-style: italic;
}

.justify {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    font-style: italic;
    background-color: #f7d3097f;
}

/* .textShadow{
    text-shadow: 0.15em 0.50em 0.75em rgb(0, 0 ,0 );
} */

.textTransformUpper {
    text-transform: uppercase;
    word-spacing: 4em;
    text-shadow: 0.15em 0.50em 0.75em rgb(0, 0 ,0 );
}

/* .wordSpacing {
    word-spacing: 4em;
} */